*{
    padding: 0px;
    margin: 0px;
}
#baner{
    background-image: url("assets/img/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 17%;
    padding-bottom: 17%;
}
img{
    width: 100%;
}
#meni ul{
    list-style-type: none;
}
#border{
    border-bottom: 1px solid black;
}
.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#margin-top{
    margin-top: 9% !important;
}